{% extends 'flatpages/default.html' %}



{% block title %}
Ads
{% endblock title %}

{% block content %}
   <h1>Все товары</h1>

   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
       {% if filter.is_bound %}
        <input type="submit" <a href="{% url 'ads_list' %}">Clear filters</a>/>
{% endif %}
   </form>

   <hr>
   {% if ads_list %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Автор</td>
               <td>Количество</td>
               <td></td>
           </tr>

           {% for ad in ads_list %}
           <tr>
               <td><a href="{{ad.id}}">{{ ad.title|upper }} </a></td>
               <td>{{ ad.text|truncatechars:15 }}</td>
               <td>{{ ad.categories.name }}</td>
               <td>{{ ad.author }}</td>
               <td>{{ ad.time_in }}</td>
               <td><img src="{{ MEDIA_URL }}{{ad.image.url}}" width=300px /></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
