{% extends 'flatpages/default.html' %}

{% block content %}

<h1>Удаление новости </h1>

<hr>
<form action="" method="post">
    {% csrf_token %}
    <p>Удаляем <strong>"{{ ads_delete.title|upper }}"</strong>?</p>
    <p>{{ ads_delete.text}}</p>
               <p>{{ ads_delete.categories.name }}</p>
               <p>{{ ads_delete.author }}</p>
               <p>{{ ads_delete.time_in }}</p>
               <p><img src="{{ MEDIA_URL }}{{ads_delete.image.url}}" width=300px /></p>
    <input type="submit" value="Delete" />
</form>
{% endblock content %}